body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

header {
    font-family: 'Castoro Titling', cursive;
    color: azure;
    text-indent: 30%;
    font-size: xx-large;
    padding: 7px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(thistle,rgb(38, 38, 147));
    color: rgb(246, 238, 246);
    justify-content: space-between;
}

#weather {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(thistle,rgb(38, 38, 147));
    color: rgb(246, 238, 246);
    margin-bottom: 10px;
}

div {
    display: flex;
    flex-direction: row;
}

#generate {
    background-color: rgb(44, 114, 160);
    color: beige;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: 2px;
}

#generate:hover {
    background-color: rgb(175, 196, 210);
}

.btn {
    display: block;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: 2px;
}

.btn:hover {
    background-color: darkseagreen;
}

#easySearch {
    border-top: 2px, darkblue;
    margin: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}